footer h3 {
    display: none;
}

footer .content-footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 25
    px 5px;
    background-color:#373867;
    color:#ffffff;
}

footer h4 {
    font-weight: bold;
}

footer ol {
    list-style: decimal;
}

footer ol li a {
    color:#ffffff;
}

.nav-products ,
.nav-company ,
.nav-support {
    margin: 20px;
    padding: 0px 10px;
    line-height: 120%;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 15px 0px;
}

  .social-media-img {
    width: 20px;
    height: 20px;
    padding: 10px;
  }

  @media (min-width: 1024px) {
    footer h3 {
        display: flex;
        margin-top: 30px;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .desktop-4 {
        width: 100%;
        height: 276px;
        display: flex;
        justify-content:space-evenly;
        flex-direction: row;
        margin-left: 304px;
        background-color:#373867;
        color:#ffffff;
  }
