
/* --------------------- MOBILE VERSION ----------------------*/

/* fisrt section - what is trackgenix and our history*/

#odd-img-2 , #even-img-1 , #odd-img-1 , #even-img-2 {
    display: flex;
    padding: 31px 102px 13px 102px; 
}

#img-1 {
    align-self: center;
    width: 328px;
    height: 134px;
    margin-left: 30px;
    border-radius:10px;
}

#img-2 {
    width: 328px;
    height: 134px;
    margin-left: 30px;
    border-radius:10px;
}

.what-is-trackgenix {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 30px;
}

.what-is-trackgenix h2 {
    text-align: center;
}

.what-is-trackgenix p {
    padding: 15px 30px;
    line-height: 140%;;
    text-align: center;
}

.our-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 30px;
}

.our-history h2 {
    text-align: center;
}

.our-history p {
    padding: 15px 30px;
    line-height: 140%;;
    text-align: center;
}

/* second section - features */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features h2 {
    align-self: center;
    border-bottom: 4px solid #373867; 
}

.features p {
    align-self: center;
    padding: 15px 20px;
    line-height: 140%;
    text-align: center;
}

.feature-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feat-list {
    align-self: center;
    padding: 5px 40px;
    line-height: 140%;
    text-align: center;
}

/* third section - why trackgenix */

/* hole section why trackgenix */

.general-container-why {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 85%;
    margin: 30px;
}
/* particular section */

.first-container-why {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #373867;
}
.general-container-why h2 {
    width: max-content;
    border-bottom: 4px solid #373867;
    text-align: center;
}

.general-container-why h3 {
    font-size: 16px;
    text-align: center; 
}

.odd-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
    text-align: center;
    line-height: 140%;
}

.odd-box p {
    padding: 10px 35px 15px 35px;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
}

.second-container-why {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #373867;
}

.even-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
    text-align: center;
    line-height: 140%;
}

.even-box p {
    padding: 10px 35px 15px 35px;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
}

.third-container-why {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #373867;
}

.fourth-container-why {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #373867;
}

/* section contact us */

.cont-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-us h3 {
    padding-top: 15px;
    margin-bottom: 20px;
    border-bottom: 4px solid #373867;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #373867;

}

.name {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.email {
    display: flex;
    flex-direction: column; 
    margin: 10px 0px;
}

.category {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 15px 0px; 
}

.contact-form {
    align-self: center;
}

.contact-labels {
    margin: 5px;
    font-weight: bold;
}

  .boxes {
    width: 354px;
    height: 23px;
    border: 1px solid #373867;
    border-color: #E0E0E0;
    border-radius: 3px;
    font-size: 12px;
    color: #373867;
  }
  
  .textarea {
    width: 354px;
    height: 78px;
    border-radius: 3px;
    border-color: #E0E0E0;
    color: #373867;
  }
  
  .contact-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 15px;
      align-items: flex-end;

  }
  .send-msg {
    width: 123px;
    height: 35px;
    background-color: #AACE9B;
    border-radius: 5px;
    border-style: none;
    font-size: 12px;
    font-weight: bold;
    color:#373867;
  }

  .reset {
    width: 82px;
    height: 35px;
    background-color: #b1b2b6;
    border-radius: 5px;
    border-style: none;
    font-size: 12px;
    font-weight: bold;
    color:#373867;
  }


/* ------------------------------- DESKTOP VERSION ---------------------------- */

@media (min-width: 1024px) {

/* what is trackgenix section */

    main {
        margin-left: 25%;
        padding-top: 10%;
    }

    #even-img-2 , #odd-img-2 , #even-img-1 , #odd-img-1{
        display: flex;
        width: 412px;
        height: 172px;
        margin-top: 20px; 
    }

    .first-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 30px;
    }

    .desktop-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 25px;
    }
    
    .first-container h2 {
        font-size: 30px;
        text-align: center;
    }
    
    .first-container p {
        font-size: 16px;
        line-height: 140%;  
    }
    
    .div-img-1 {
        width: 50%;
        height: 25%;
        border-radius:10px;
    }

    .our-history {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 30px;
    }

    .desktop-2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        margin: 30px;  
    }
    
    .our-history h2 {
        font-size: 30px;
        text-align: center; 
    }
    
    .our-history p {
        line-height: 140%;
        font-size: 16px;
    }
    
    .div-img-2 {
        width: 50%;
        height: 20%;
        border-radius:10px;
    }

/* features section */

    .features {
        display: flex;
        flex-direction: column;
        margin-top: 35px;
    }
    
    .features h2 {
        margin-bottom: 30px;
        border-bottom: 4px solid #373867;
        align-self: center;
    }
    
    .features p {
        padding: 15px;
        font-size: 16px;
        line-height: 140%;
    }
    
    .feature-list {
        display: flex;
        align-items: flex-start;
        margin-bottom: 35px;
        font-size: 18px;
    }


/* why trackgenix section */

    .general-container-why {
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 100%;
        margin: 20px;
    }
    
    .first-container-why {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        border-bottom: 1px solid #373867;
    }

    .general-container-why h2 {
        width: max-content;
        margin-bottom: 20px;
        border-bottom: 4px solid #373867;
        font-size: 30px;
        text-align: center;
    }
    
    .general-container-why h3 {
        font-size: 16px;
        text-align: center;
    }
    
    .odd-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:30px 0px;
        padding: 35px 10px;
        text-align: center;
        line-height: 140%;
    }
    
    .odd-box p {
        padding: 10px 35px 15px 35px;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
    }
    
    .second-container-why {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        border-bottom: 1px solid #373867;
    }
    
    .even-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:30px 0px;
        padding: 35px 10px;
        text-align: center;
        line-height: 140%;
    }
    
    .even-box p {
        padding: 10px 35px 15px 35px;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
    }
    
    .third-container-why {
        display: flex;
        flex-direction: row-reverse;
        border-bottom: 1px solid #373867;
    }
     
    .fourth-container-why {
        display: flex;
        flex-direction: row;    
        border-bottom: 1px solid #373867;
    }
    
    .general-container-why input {
        width: 82px;
        height: 26px;
        border-style: none;
        background-color: #aace9b;
        font-size: 9px;
        color: #373867;
      }

    /* section contact us */

      .cont-us {
          align-items:flex-start;
      }
  }


 /* -------------------------- LAPTOP VERSION -------------------------- */


 @media (min-width: 768px) {
    .div-img-1 {
        display: flex;
        flex-direction: column;
    }

    .div-img-2 {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .odd-box-img {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .even-box-img {
        display: flex;
        flex-direction: column; 
        align-items: center;  
    }
}





