
/* --------------------- MOBILE VERSION ----------------------*/
main {
    width: 100vw;
    padding-top: 20px;
}

#odd-img-2 , #even-img-1 , #odd-img-1 , #even-img-2 {
    width: 225px;
    height: 115px;
    border-radius: 17px;
    padding: 31px 102px 13px 102px; 
}

#img-1 {
    width: 328px;
    height: 134px;
    border-radius:10px;
}

#img-2 {
    width: 328px;
    height: 134px;
    border-radius:10px;
}


.what-is-trackgenix, .our-history {
    display: flex;
    flex-direction: column;
} 

.what-is-trackgenix h2, .our-history h2 {
    align-self: center;
    margin-top: 10px;
}

.what-is-trackgenix .desktop-1, .our-history .desktop-2 {
    display: flex;
    flex-direction: column;
}

.desktop-1 img , .desktop-1 p , .desktop-2 img , .desktop-2 p {
    align-self: center;
}

.desktop-1 p , .desktop-2 p {
    text-align: center;
    width: 80%;
    height: 100px;
}

.features {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 14px;
}

.features h2 {
    margin-bottom: 10px;
    align-self: center;
    border-bottom: 4px solid #373867; 
    font-size: 30px;
}

.features p {
    width: 80%;
    margin-top: 10px;
    align-self: center;
    line-height: 20px;
    text-align: center;
}

.feature-list {
    display: flex;
    flex-direction: column;
}

.feat-list {
    width: 90%;
    margin-top: 10px;
    align-self: center;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    list-style-type: circle;
}

.item-list {
    margin-left: 40px;
}

.general-container-why {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.general-container-why h2 {
    width: max-content;
    align-self: center;
    border-bottom: 4px solid #373867;
}

.first-container-why , .third-container-why , .second-container-why , .fourth-container-why{
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #373867;
}

.odd-box , .even-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    line-height: 20px;
}

.odd-box h3 , .even-box h3 {
    align-self: center;
    margin-top: 10px;
    font-size: 16px; 
}

.odd-box p , .even-box p {
    align-self: center; 
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.odd-box-img , .even-box-img {
    align-self: center;
}

.general-container-why input {
    align-self: center;
    width: 60px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: none;
    background-color: #aace9b;
    font-size: 9px;
    color: #373867;
  }

.cont-us {
    display: flex;
    flex-direction: column;
}

.cont-us h3 {
    align-self: center;
    padding-top: 15px;
    margin-bottom: 20px;
    border-bottom: 4px solid #373867;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #373867;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}

.email {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}

.category {
    display: flex;
    flex-direction: column;
    margin: 5px 0px 15px 0px; 
}

.contact-labels {
    width: 200px;
    height: 35px;
    font-weight: bold;
}

.textarea {
    width: 250px;
    height: 78px;
    border-radius: 3px;
    border-color: #E0E0E0;
    color: #373867;
  }

  .contact-buttons {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 40px;
  }

  .send-msg {
    width: 123px;
    height: 35px;
    margin-right: 40px;
    background-color: #AACE9B;
    border-radius: 5px;
    border-style: none;
    font-size: 12px;
    font-weight: bold;
    color:#373867;
  }

  .reset {
    width: 82px;
    height: 35px;
    padding-left: 10px;
    background-color: #b1b2b6;
    border-radius: 5px;
    border-style: none;
    font-size: 12px;
    font-weight: bold;
    color:#373867;
  }


/* ------------------------------- DESKTOP VERSION ---------------------------- */

@media (min-width: 1024px) {

    main {
        width: 80%;
        padding-top: 70px;
        margin-left: 20%;
    }

    #even-img-2 , #odd-img-2 , #even-img-1 , #odd-img-1{
        width: 412px;
        height: 172px;
        margin-bottom: 20px;
    }

    #img-1 {
        width: 413px;
        height: 212px;
        border-radius:10px;
    }
    
    #img-2 {
        width: 350px;
        height: 180px;
        margin-left: 60px;
        border-radius:10px;
    }

    .what-is-trackgenix .desktop-1 {
        display:flex;
        flex-direction: row;
        align-items:center;
        padding-top: 15px;      
    }
    
    .what-is-trackgenix > h2 { 
        margin-bottom: 15px;
        margin-top: 30px;
        margin-left: 200px;
    }

    .what-is-trackgenix p {
        margin-left: 50px;
        margin-right: 20px;
    }

    .our-history .desktop-2{
        display: flex;
        flex-direction: row-reverse;
        align-items:center;
    }

    .our-history h2 {
        margin-bottom: 15px;
        margin-left: 100px;
    }

    .our-history p {
        margin-left: 20px;
    }
   
    .feat-list {
        margin-left: 150px;
    }

    .item-list {
        padding-right: 250px;
    }

    .general-container-why h2 {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .first-container-why , .third-container-why{
        display: flex;
        flex-direction: row;
    }

    .second-container-why , .fourth-container-why {
        display: flex;
        flex-direction: row-reverse;
    }

    .odd-box {
        width: 200px;
        height: 220px;
        margin-left: 300px;
    }

    .even-box {
        width: 200px;
        height: 220px;   
    }

    .odd-box input , .even-box input {
        width: 70px;
        height: 50px;
        border-radius: 3px;
        font-weight: bold;
    }
