aside {
  display: none;
}


aside {
  position: fixed;
  flex-direction: column;
  background-color: #1cbd16;
  height: 100vh;
  width: 20%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.search {
  width: 100px;
  height: 50px;
}

.nav-buttons {
  display: flex;
}

.log-in {
  margin: 10px;
}

.sign-up {
  margin: 10px;
}

aside p {
  font-size: 15px;
  }
  
  aside li {
    font-size: 15px;
  }
  
  
  aside sign-up {
    width: 102px;
    height: 35px;
    padding: 10px 27px;
    background-color: #373867;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff
  }

  .menu > p {
    border-bottom: 1.5px solid #49a371;
    max-width: 232px;
    text-transform: uppercase; 
     
  }

  .get-in-touch > p {
    border-bottom: 1.5px solid #49a371;
    max-width: 232px;
    text-transform: uppercase;
  }


/* media queries 900px */

@media (min-width: 900px) {
    aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20%;

  }


/*vjjbjbjbjvjv

  .divform {
    display: flex;
    flex-direction: column;
    margin: 6%;
    background-color: blueviolet;
  }

  .sidebar input::placeholder {
    color: #373867;
    opacity: 0.5;
  }

  .search {
    
    width: 180px;
    height: 30px;
    background: #FFFFFF;
    background-image: url('../images/Icons/magnifying-glass-icon.png');
    background-position: 180px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 3px;
    color: #373867;
  }

  .nav-buttons {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: stretch;
    background-color: #49a371;
  }
  
  .sidebar input::log-in {
    width: 95px;
    height: 35px;
    padding: 10px 27px;
    background-color: #49a371;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff
} 
*/
}
    