@media (min-width: 1024px) {
  h1 {
      font-size: 59.96px;
  }
  nav {
      display: flex;
  }
  @media (min-width: 480px) {
    h1 font-size: 50px;
  }
}

body{ 
  background-color: #fff;
  color: #373867;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


h1 {
  max-width: 1015.29px;
  margin-bottom: 8.36px;
  margin-left: 62.46px;
  font-size: 57px;
  border-bottom: #373867 solid 3.75px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  border-bottom: #373867;
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: #373867;
}

.article-1 h2 {
  color: #49a73b;
}

#img-1 {
  width: 513.99px;
  height: 312.71px;
}

#img-2 {
  width: 434.71px;
  height: 215.78px;
}

.article-2 h2 {
  text-transform: uppercase;
}

#why h2 {
  text-transform: uppercase;
}

#contact-us h3 {
  text-transform: uppercase;
}