body{ 
  background-color: #fff;
  color: #373867;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 50px;
  border-bottom: #373867 solid 4px;  
}


h2 {
  padding: 0px 20px;
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  border-bottom: #373867;
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: #373867;
}

.article-1 h2 {
  color: #49a73b;
}


#img-2 {
  width: 328px;
  height: 170px;
}

.article-2 h2 {
  text-transform: uppercase;
}

#why h2 {
  text-transform: uppercase;
}

#contact-us h3 {
  text-transform: uppercase;
}

#odd-img-1 , #even-img-1 , #odd-img-2 , #even-img-2 {
  width: 225px;
  height: 115px;
  border-radius: 17px;
}

.container-why input {
  width: 60px;
  height: 20px;
  border-style: none;
  background-color: #aace9b;
  color: #373867;
  font-size: 9px;
}